tr td {
  border-top: 1px solid #9ca3af;
  margin-top: 1.5rem;
  padding: 1.5rem 0.5rem;
  font-size: 0.875rem;
}

tr td .buttonDelete,
tr td .buttonEdit {
  font-weight: bold;
  border: 0;
  background: transparent;
  font-size: 1.5rem;
  color: #030712;
  cursor: pointer;
  transition: all 300ms;
}

tr td .buttonEdit:hover {
  color: #14532d;
}

tr td .buttonDelete:hover {
  color: #991b1b;
}
