.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  max-width: 1000px;
  width: 90%;
  background: #e5e7eb;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}

.modalContent .buttons {
  display: flex;
  gap: 0.5rem;
}
