* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
}

body {
  background: #f3f4f6;
  color: #030712;
  font-family: "Poppins", sans-serif;
}
